{% extends 'base.html' %}

{% block content %}

    <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method = "POST" action = "{% url "add_student_path" %}" enctype = "multipart/form-data" onsubmit="return validate_Form()">
                           {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Edit Student Information</span></h5>
                                 </div>

                                   {% comment %} Error message for Profile Updation {% endcomment %}
                                    {% include 'includes/messages.html' %}
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Student Image</label>
                                       <input name = "student_image" type="file" class="form-control">
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>First Name</label>
                                       <input name = "first_name" type="text" value = "{{student.admin.first_name}}" class="form-control" required>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Last Name</label>
                                       <input name = "last_name" type="text" class="form-control" value = "{{student.admin.last_name}}" required>
                                    </div>
                                 </div>
                                 
                                 <div class="col-12 col-sm-11">
                                    <label>Gender</label>
                                    <select class="form-control" name="gender" >
                                        
                                        <option value = "">Select Gender</option>
                                        <option value="female" {% if student.gender == "female" %}selected{% endif %}>Female</option>
                                        <option value="male" {% if student.gender == "male" %}selected{% endif %}>Male</option>
                                        <option value="others" {% if student.gender == "others" %}selected{% endif %}>Others</option>
                                    </select>
                                    
                                 </div>
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Date of Birth</label>
                                       <div>
                                          <input name = "date_of_birth" type="date" class="form-control" value = "{{student.date_of_birth|date:'Y-m-d' }}" >
                                       </div>
                                    </div>
                                 </div>
                                 
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Grade</label>
                                       <select class="form-control" name="course" required>
                                          <option>Select Grade</option>
                                          {% for i in course %}
                                          <option value="{{ i.id }}" {% if student.course_id and student.course_id.id == i.id %}selected{% endif %}>
                                              {{ i.name }}
                                          </option>
                                          {% endfor %}
                                      </select>
                                      
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Email</label>
                                       <input name = "email" type="email" class="form-control" value = "{{student.admin.email}}" required>
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Username</label>
                                       <input name = "username" type="text" class="form-control" value = "{{student.admin.username}}" required>
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>password</label>
                                       <input name = "password" type="password" class="form-control" placeholder="fill this only if you want to change password" >
                                    </div>
                                 </div>
                                 
                                 
                                 <!-- <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Mobile Number</label>
                                       <input name = "mobile_number" type="text" class="form-control" valeu = "{{student.mobile_number}}"required>
                                    </div>
                                 </div> -->
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Admission Number</label>
                                       <input name = "admission_number" type="text" class="form-control" value = "{{student.admission_number}}" required>
                                    </div>
                                 </div>
                                

                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Father's Name</label>
                                       <input name = "father_name" type="text" class="form-control" value = "{{student.father_name}}">
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Father's Mobile</label>
                                       <input name = "father_mobile" type="text" class="form-control" value = "{{student.father_mobile}}">
                                    </div>
                                 </div>

                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Mother's Name</label>
                                       <input name = "mother_name" type="text" class="form-control" value = "{{student.mother_name}}" >
                                    </div>
                                 </div>
                                 
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Mother's Mobile</label>
                                       <input name = "mother_mobile"  type="text" class="form-control" value = "{{student.mobile_number}}" >
                                    </div>
                                 </div>      

                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Present Address</label>
                                       <textarea name = "present_address" class="form-control" >{{student.present_address}}</textarea>
                                    </div>
                                 </div>

                                 <div class="col-12">
                                    <h5 class="form-title"><span>Optional Information</span></h5>
                                 </div>
                                 
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Father's Occupation</label>
                                       <input name = "father_occupation" type="text" class="form-control" value="{{student.father_occupation}}">
                                    </div>
                                 </div>
                                 
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Father's Email</label>
                                       <input name = "father_email" type="email" class="form-control" value = "{{student.father_email}}">
                                    </div>
                                 </div>
                                 
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Mother's Occupation</label>
                                       <input name = "mother_occupation" type="text" class="form-control" value = "{{student.mother_occupation}}">
                                    </div>
                                 </div>
                                 
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Mother's Email</label>
                                       <input name = "mother_email" type="email" class="form-control" value = "{{student.mother_email}}">
                                    </div>
                                 </div>
                                 
                                 <div class="col-12 col-sm-11">
                                    <div class="form-group">
                                       <label>Permanent Address</label>
                                       <textarea name = "permanent_address" class="form-control" >"{{student.permanent_address}}"</textarea>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                 </div>
                              </div>
                           </form>
                           <script>
                              function validate_Form(){
                                 // get required fields
                                 var first_name = document.getElementById("first_name").value;
                                 var last_name = document.getElementById("last_name").value;
                                 var gender = document.getElementById("gender").value;
                                 var date_of_birth = document.getElementById("date_of_birth").value;
                                 var grade = document.getElementById("grade").value;
                                 var email = document.getElementById("email").value;
                                 var username = document.getElementById("username").value;
                                 var password = document.getElementById("password").value;
                                 var mobile_number = document.getElementById("mobile_number").value;
                                 var admission_number = document.getElementById("admission_number").value;
                                 var father_name = document.getElementById("father_name").value;
                                 var father_mobile = document.getElementById("father_mobile").value;
                                 var mother_name =  document.getElementById("mother_name").value;
                                 var mother_mobile =  document.getElementById("mother_mobile").value;
                                 var present_address =  document.getElementById("present_address").value;
                                 
                                  // Check if required fields are filled
      if (!first_name || !last_name || !gender || !date_of_birth || !grade || !email || !username || !password || !mobile_number || !admission_number || !father_name || !father_mobile || !mother_name || !mother_mobile || !present_address) {
         alert("Please fill all the required fields.");
         return false;
      }

      // Validate email format
      var email_pattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
      if (!email.match(email_pattern)) {
         alert("Please enter a valid email address.");
         return false;
      }

      // Validate mobile number (assuming it's a 10-digit number)
      var mobile_pattern = /^[0-9]{10}$/;
      if (!mobile_number.match(mobile_pattern)) {
         alert("Please enter a valid mobile number (10 digits).");
         return false;
      }

      // Validate password (check length and complexity if needed)
      if (password.length < 6) {
         alert("Password must be at least 6 characters long.");
         return false;
      }

      return true; // If all validations pass
                              }
                           </script>
                        </div>
                     </div>
                  </div>
               </div>

{% endblock %}